- var title = '🥑🥑🥑 Holy Glucamoly!'

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    link(rel='icon' href='favicon.ico')
    title=title
  body.bg-light
    .small.text-center.p-2.bg-white ⚠️ This is pug template
    noscript
      strong
        | We're sorry but 
        =title
        |  
        | doesn't work properly without JavaScript enabled. Please enable it to continue.
    #app
    // built files will be auto injected
